@layer theme, base, components, utilities;


@import 'tailwindcss/theme.css' layer(theme);

/* @import "tailwindcss/preflight.css" layer(base); */

@import 'tailwindcss/utilities.css' layer(utilities);

/* @source inline("bg-zinc-{50,{100..900..100},950}"); */
@source inline("shadow-{xs,sm,md,lg}");

@config "../tailwind.config.js";



